ASSETS_CERT_DIR='path/to/cert/dir'
ASSETS_CA_CERT='ClaValCABundle.crt'
ASSETS_CLIENT_CERT='my_assets_cert.link2valves.com.crt'
ASSETS_KEY_FILE='my_assets_key.link2valves.com.key'

DATA_CERT_DIR='path/to/cert/dir'
DATA_CA_CERT='ClaValCABundle.crt'
DATA_CLIENT_CERT='my_data_cert.link2valves.com.crt'
DATA_KEY_FILE='my_data_key.link2valves.com.key'
