ASSETS_CERT_DIR='path/to/cert/dir'
ASSETS_CA_CERT='ClaValCABundle.crt'
ASSETS_CLIENT_CERT='my_assets_cert.link2valves.com.crt'
ASSETS_KEY_FILE='my_assets_key.link2valves.com.key'

DEVICES_CERT_DIR='path/to/cert/dir'
DEVICES_CA_CERT='ClaValCABundle.crt'
DEVICES_CLIENT_CERT='my_devices_cert.link2valves.com.crt'
DEVICES_KEY_FILE='my_devices_key.link2valves.com.key'
